body {
    margin: 0px;
    background-color: hsl(0, 100%, 97%);
}

/*===========  ID Rules  ==========*/
#apparel-flexbox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

#desktop-logo {
    float: left;
    max-width: 100%;
    max-height: 100%;
}

#logo-palace {
    margin: 0%;
    padding: 0px;
    max-width: 0px;
    max-height: 0px;
}

#apparel-info {
    width: 55%;
    height: 100%;
    margin: 0px;
}

#submit-button {
    margin-left: 20%;
}

#error-message {
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 0px auto 0px 0px;
}

/*===========  Class Rules  ==========*/
.base-apparel {
    margin: 0%;
    max-width: 0px;
    max-height: 0px;
}

.hero-image {
    width: 40%;
    height: 100%;
}

.desktop-apparel {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-right: auto;
    margin-bottom: 150px;
}

.info-container {
    width: 50%;
    height: 100%;
    margin-left: 80px;
}



/*===========  ELement Rules  ==========*/
h1 {
    font-size: 80px;
    text-align: left;
    line-height: 85px;
    margin-top: 50px;
    margin-bottom: 10px;
}

p {
    text-align: left;
    font-weight: bold;
    margin-top: 40px;
}

input {
    width: 80%;
    margin-left: 0px;
    background-color: hsl(0, 100%, 97%);
}